:root {
  --primaty-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primaty-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo {
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  font-family: Roboto;
  cursor: pointer;
  border-radius: 4px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: #ffffff;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--accent-color);
}

.socials-list__item {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  min-height: 60px;
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
  position: relative;
}

.site-nav__item:not(:last-child) {
  display: flex;
  margin-right: 50px;
}

.header__site-contact {
  margin-left: auto;
}

.site-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    display: flex;
  }
}

.site-contact__item + .site-contact__item {
  margin-top: 10px;
}

@media screen and (min-width: 1200px) {
  .site-contact__item + .site-contact__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-contact__item {
    margin-left: 50px;
  }
}

.site-contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-contact__link {
    padding: 0;
  }
}

.site-contact__link:hover, .site-contact__link:focus {
  color: var(--accent-color);
}

.site-contact__icon {
  fill: var(--primaty-text-color);
  margin-right: 10px;
  align-items: baseline;
  fill: currentColor;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.menu-open {
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  display: flex;
}

.mob-menu__field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  color: var(--title-text-color);
  background-color: transparent;
  border: transparent;
}

.menu-close:hover, .menu-close:focus {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  color: var(--title-text-color);
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--primaty-text-color);
}

.mob-menu__mail {
  font-size: 24px;
  color: var(--primaty-text-color);
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-socials {
  display: flex;
  margin-bottom: 48px;
  margin-top: 64px;
}

.mob-menu-socials__item {
  margin-right: 20px;
}

.mob-menu-socials__item::after {
  content: "";
  position: absolute;
  height: 22px;
  width: 1px;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu-socials__link {
  color: var(--accent-color);
  position: relative;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/hero-bg-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-background-color);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/hero-bg-mob-x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-tab-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-bg-tab-x2-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-x2.png);
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: flex;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: flex;
    flex-direction: row;
  }
}

.benefits__title {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.benefits__text {
  width: 100%;
}

.benefits__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(100% / 4 - 30px);
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.icon-antenna {
  width: 100%;
}

.icon-antenna::before {
  content: "";
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock {
  width: 100%;
}

.icon-clock::before {
  content: "";
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram {
  width: 100%;
}

.icon-diagram::before {
  content: "";
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut {
  width: 100%;
}

.icon-astronaut::before {
  content: "";
  background-image: url(../images/icons/astronaut.svg);
}

.tasks {
  display: none;
}

@media screen and (min-width: 1200px) {
  .tasks {
    display: flex;
    padding-bottom: 94px;
  }
}

.tasks__list {
  display: flex;
}

.tasks__item {
  margin-right: 30px;
  position: relative;
}

.tasks__text {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    max-width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    max-width: 270px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -30px;
    margin-bottom: -30px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-direction: row;
  }
}

.team-list__card {
  padding-bottom: 24px;
  padding-top: 30px;
}

@media screen and (min-width: 1200px) {
  .team-list__card {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list__text {
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
  }
}

.clients-list__logo {
  fill: #afb1b8;
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__logo,
.clients-list__link:focus .clients-list__logo {
  fill: var(--accent-color);
}

.clients-list__item {
  max-width: 210px;
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    display: flex;
    max-width: 170px;
    margin-bottom: 0;
  }
}

.clients-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-button {
  margin-right: 8px;
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;
  background-color: #f5f4fa;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.work-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.work-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .work-item {
    flex-basis: 20%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.work-item:hover, .work-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item img {
  margin: 0;
  max-width: 100%;
}

.card {
  border: 1px solid #eeeeee;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: transparent;
  padding: 20px 24px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 352px;
  }
}

.card--long {
  padding-bottom: 50px;
}

.work-list-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .work-list-title {
    width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list-title {
    width: 322px;
  }
}

.work-list-text {
  font-size: 16px;
  line-height: 1.87;
}

.work-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(calc(100% + 110px));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item:hover .work-description {
  transform: translateY(0);
}

.work-overlay {
  position: relative;
  overflow: hidden;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

.footer__logo {
  color: var(--primary-white-color);
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 0;
    justify-content: start;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-bottom: 60;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-bottom: 0;
    align-items: start;
    margin-left: 0;
  }
}

.footer__address {
  color: var(--primary-white-color);
  font-style: normal;
  margin-bottom: 9px;
}

.footer__contacts--link {
  font-style: normal;
  display: block;
  color: var(--footer-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts--link:hover, .footer__contacts--link:focus {
  color: var(--accent-color);
}

.footer-socials__text {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.footer__socials {
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__socials {
    margin-left: auto;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
    margin-right: auto;
  }
}

.socials-list__link--footer {
  padding: 12px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-socials__icon {
  fill: #ffffff;
}

.footer-form__overlay {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-form__overlay {
    display: flex;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    display: flex;
  }
}

.footer-form__title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    justify-content: start;
  }
}

.footer-form__email {
  padding-left: 16px;
  background: transparent;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    margin-bottom: 0;
  }
}

.footer__submit-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.footer__submit-btn::after {
  content: "";
  background-image: url(../images/icons/env-send.svg);
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__submit-btn {
    margin-left: 12px;
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* visibility: visible; */
}

.modal {
  position: relative;
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0.82, 0.2, 1), opacity 1000ms linear;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
  opacity: 1;
}

.form__name {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  display: block;
}

.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.form-input,
.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.input-wrap {
  position: relative;
  /* display: block; */
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.comment {
  resize: none;
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.comment:focus {
  border: 1px solid #2196f3;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
  }
}

.check-wrap {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .check-wrap {
    margin-left: 12px;
  }
}

.form-accent {
  color: var(--accent-color);
  padding-left: 1px;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox:checked + .checkbox-label > .checkbox-icon {
  background: #2196f3;
  border: none;
}

.submit-button {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */